<h1 class="text-center mt-4">All comments</h1>

<div class="container">
  <% @blogs.each do |blog| %>
    <div class="row">
      <div class="col-8">
        <div class="card text-center">
          <div class="card-header">
            Featured
          </div>
          <div class="card-body">
            <h5 class="card-title"><%= blog.title %></h5>
            <p class="card-text"><%= blog.description %></p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
          <div class="card-footer text-muted">
            2 days ago
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>

  

  <table>
    <thead>
      <tr>
        <th>Title</th>
        <th>Description</th>
        <th>Actions</th>
      </tr>
    </thead>

    <tbody>
      <% @blogs.each do |blog| %>
        <tr>
          <td><%= blog.title %></td>
          <td><%= blog.description %></td>
          <td>Placeholder</td>
        </tr>
      <% end %>
    </tbody>
  </table> 

  <%= link_to "New blog", new_blog_path %>

